@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #575757;
}

a { text-transform: capitalize; color: #333333; text-decoration: underline; font-weight: bold;}
a:hover {text-decoration: none; color: #FF9900;}

ul{padding-left:20px; margin:0px;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
#wrapper {
	width: 100%;
}
#wrapper .bannerback {
	background-image: url(../images/GreenBack.gif);
	background-repeat: repeat-x;
	background-position: left;
	margin: 0px;
	padding: 0px;
	height: 284px;
}
#banner {
	margin-right: auto;
	margin-left: auto;
	width: 926px;
}

.navigationBack {
	background-image: url(../images/Navigation_Back.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 41px;
}
#navigation {
	padding: 0px;
	width: 926px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 40px;
}
#navigation ul {
	padding: 0px;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 60px;
	text-align: center;
}
#navigation li {
	float: left;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	text-align: center;
	padding: 0px;
}
#navigation span {
	padding: 0px;
	margin-top: -10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#navigation a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #4d4d4d;
	text-decoration: none;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
	padding-top: 18px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#navigation a:hover {
	color: #000000;
}

#wrapper .main-container {
	width: 926px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper .main-container-back {
	background-image: url(../images/GreyBackground.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#wrapper .left-block {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 600px;
	border-right-width: 2px;
	border-right-style: dotted;
	border-right-color: #CCCCCC;
}
.left-block img {
	margin-top: 20px;
}

.left-block p img {
	margin: 0px;
	padding: 0 10px 10px 10px;
}

.left-block h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	padding-top: 10px;
}
.left-block h2 {
	color: #0066CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-transform: capitalize;
}
.left-block p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #575757;
	text-align: justify;
	padding-right: 10px;
	width: 95%;
}
.boxes {
	float: left;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}
.search {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.right-block  {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	width: 300px;
	height: auto;
	float: right;
}
.right-block h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: #99CC00;
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.right-block h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
	color: #0099FF;
	margin: 0px;
	padding: 0px;
}
.right-block ul {
	margin: 0px;
	padding: 0px;
	width: 250px;
}
.right-block li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	list-style-image: url(../images/orangebullet.gif);
}
.right-block a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: capitalize;
	color: #333333;
	text-decoration: underline;
}
.right-block a:hover {
	text-decoration: none;
	color: #FF9900;
}
.socialbookmarks {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
}
#footer {
	background-image: url(../images/FooterBack.gif);
	background-repeat: repeat-x;
	background-position: left;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 72px;
	width: 100%;
}
#footer .footer-center {
	background-image: url(../images/Footertexture.gif);
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
	height: 63px;
	width: 926px;
	margin-top: 8px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#footer .copy-rights {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	padding: 0px;
	width: 356px;
	float: left;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#footer .footer-center img {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 70px;
}
.footer-center ul {
	margin: 0px;
	padding: 0px;
	float: right;
	list-style-type: none;
}
#footer .footer-center li {
	padding: 0px;
	float: left;
	margin-top: 18px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
}
#footer .footer-center a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding-right: 3px;
	padding-left: 3px;
}

#footer .footer-center a:hover {
	text-decoration: none;
	color: #99CC00;
}

/*************************** Pagination *****************************/
.pagination{width:97%; height:20px; margin:8px 0 0 0; border:1px solid #ededed; padding:5px 0px; background-color:#fff;}
.pagination ul{margin:0px auto; width:500px; list-style-type: none;}
.pagination li{margin:0px; float:left;}
.pagination li a{margin:0px 0 0 5px; float:left; font:normal 14px Arial, Helvetica, sans-serif; color:#4f4f4f; text-decoration:none; background:url(../images/PG_bg.png) repeat-x left top; border:1px solid #d3d3d3; padding:2px 7px;}
.pagination li.Prev_next a{margin:0px 0 0 5px; float:left; color:#005395; background:none; border:0px; padding:4px 15px 2px 15px;}
.pagination li.Prev_next a:hover{background:none; border:0px; text-decoration:underline; color:#aa4141;}
.pagination li a:hover,.pagination li.PG_sel a{background:url(../images/PG_bg_hover.png) repeat-x left top; border:1px solid #c36a6a; color:#fff;}
/*************************** Pagination *****************************/


/*************************** Boxes *****************************/
.container_r{float: left; width:580px; padding:0px 0px 10px 0px; background:#f5f5f5;-moz-border-radius:5px; webkit-border-radius:5px; khtml-border-radius:5px; border-radius:5px; margin-bottom: 15px;}
.heading_R{margin:0px auto;}
.heading_r_l{background:url(../images/heading_l.png) no-repeat left top; width:4px; height:33px; float:left;}
.heading_r_c{background:url(../images/heading_c.png) repeat-x left top; width: 572px; height:33px;float:left;}
.heading_r_c h2{font-size:14px; color:#828282; padding:0px 0px 0px 9px; font-weight:bold; float: left; width: 70%;}
.heading_r_c p{font-size:12px; color:#828282; padding:0px 0px 0px 9px; font-weight:bold; font-style: italic; float: left; width: 25%; text-align: right;}
.heading_r_r{background:url(../images/heading_r.png) no-repeat left top; width:4px; height:33px; float:left;}

.welcome{margin:100px 0px 120px 27px;background:url(../images/bg_2.png) repeat-x  left top;height:133px;width:571px;}
.welcome h1{font:14px Arial, Helvetica, sans-serif;color:#737373; text-align:center;font-weight:bold;padding-top:33px;}
.welcome h2{font:50px Arial, Helvetica, sans-serif;color:#d8d8d8; text-align:center;}
.image{background:url(../images/b_t.jpg) repeat-x left top;float:left; height:2px;}

.General{margin: 0; padding: 0; width:570px; float: left; margin-top: 10px; margin-left: 10px; 	height: auto;}
.banner{margin: 0; padding: 0; float: left; width: 560px; height: auto;}
.banner p{margin: 0; padding: 0; float: left; font-size: 12px; width: 100%;}
span.continue {background:transparent url(../images/continue.png) no-repeat scroll left center; line-height:20px; padding:1px 0 1px 20px; font-size: 12px; color: #25698D; float: left; margin-top: 10px;}
.continue a:link, .continue a:visited{color: #25698D; text-decoration: none;}
.continue a:hover{color: #25698D; text-decoration: underline;}
/*************************** Boxes *****************************/


/********************** Form Styles ********************/
.General_2{margin:0px auto; width:100%; height:auto; float:left; margin:0px;}
.General_l{float:left;width:155px;margin-top:15px;padding-right:5px;}
.General_l label{font:13px Arial, Helvetica, sans-serif;color:#828282;float:right;padding:11px 8px 0px 29px;text-transform:capitalize;background:url(../images/star.png) no-repeat right center;}
.General_l img{float:right;padding:5px 0px 0px 0px ;}

.General_r{float:left;width:365px;margin-top:15px;padding-left:25px;}
.General_r input{width:355px;padding:8px 5px 7px 5px;border:1px solid #c4c4c4;-moz-border-radius:3px; webkit-border-radius:3px; khtml-border-radius:3px; border-radius:3px;margin:5px 0px 0px 0px ;font:12px Arial, Helvetica, sans-serif;color:#828282;}
.General_r textarea {width:355px;padding:8px 5px 7px 5px;border:1px solid #c4c4c4;-moz-border-radius:3px; webkit-border-radius:3px; khtml-border-radius:3px; border-radius:3px;margin:5px 0px 0px 0px ;font:12px Arial, Helvetica, sans-serif;color:#828282;height:92px;}

.butt{float:right;width:365px; padding:10px 0px 0px 0px;}
.but_a{padding:10px 0px 0px 7px;}

.General_2 input.contact_submit_btn {-moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background:transparent url(../images/blue_submit_btn.gif) no-repeat scroll left top; border:0 none; cursor:pointer; height:32px; width:83px;}
.General_2 input.contact_reset_btn {-moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; background:transparent url(../images/blue_reset_btn.gif) no-repeat scroll left top; border:0 none; cursor:pointer; height:32px; margin-left:10px; width:83px;}

label.error{color: #ff0000; font-size:12px; font-style:italic;}

.msg {color:#666666; font-size:12px; font-style:italic; text-align:center;}
/********************** Form Styles ********************/


/********************** Contact Page ********************/
.contact{width:94%; padding: 0px; border-bottom: 1px dashed #777777;}
.contact a {font-family: Arial, Helvetica, sans-serif; text-transform: capitalize; color: #333333; text-decoration: none; font-weight:bold;}
.contact a:hover {text-decoration: none; color: #FF9900;}
.contact p{margin: 5px auto;}
/********************** Contact Page ********************/

.executive p{width:45%; float:left;}
.shop p{width:30%; float:left; height:30px;}
#footer .footer-center .copy-rights .powered a{color: #E7B41A; text-decoration: none; font-size:12px; font-family:Arial,Helvetica,sans-serif; font-weight:normal; text-transform:none;}
#footer .footer-center .copy-rights .powered a:hover{color: #E7B41A; text-decoration: underline;}
