	
    	<div class="left-block">
        		<div style="min-height:250px; clear:both; width:96%; text-align:justify;">
        			
		    		<h1>{HEADER_HEADING}</h1>
		        	{HEADER_HEADING2}
					{PAGE_CONTENT}	
					{HEADERIMAGE}	
				</div>
		   
                <div class="boxes">
                	<a href="post.php?type=news"><img src="images/News.png" alt="News" border="0" /></a>
                	<a href="post.php?type=announcements"><img src="images/Announcements.png" alt="Announcements" border="0" /></a>
                	<a href="post.php?type=events"><img src="images/Events.png" alt="Events" border="0" /></a>
                </div><!--END boxes-->
        </div><!--END left-block-->
        
    
